html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #2b2a2c;
}


h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

.header {
    padding: 1.2rem 0;
    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
}

.user__avatar {
    width: 57px;
    height: 57px;
}

.user__avatar img {
    border-radius: 50%;
}

.user__content {
    padding: 0 0 0 9px;
}

.user__name {
    font-size: 1.06rem;
    line-height: 1.2rem;
    color: #2b2a2c;
    font-weight: 700;
    margin: 0 0 3px 0;
}

.user__prof {
    font-size: 0.8rem;
    color: rgba(43, 42, 44, 0.7);
}

nav {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    height: 100%;
}

.nav__link {
    margin: 0 0 0 2rem;
    position: relative;
    font-size: 0.93rem;
    color: #2b2a2c;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.nav__link--btn {
    padding: 0.66rem 2rem 0.66rem 2rem;
    border: 2px solid #2b2a2c;
    border-radius: 20px;
}

.intro__inner {
    display: flex;
    padding: 6.6rem 0 8rem;
    position: relative;
    background: url('../img/symbols.png') right bottom no-repeat;
    border-bottom: 1px solid rgba(106, 105, 107, 0.3);
}

.intro__content {
    width: 50%;
}

.intro__title {
    font-size: 3rem;
    color: #2b2a2c;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.intro__text {
    margin: 0 0 25px 0;
    font-size: 1.2rem;
    color: rgba(43, 42, 44, 0.7);
}

.intro__photo {
    position: absolute;
    bottom: 0;
    right: 80px;
    z-index: 1;
}

.intro__subtitle {
    font-size: 2.13rem;
    font-weight: 200;
    color: #2b2a2c;
}

.social {
    display: flex;
    margin: 0 0 42px 0;
}

.social__link {
    margin: 0 10px 0 0;
    text-decoration: none;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.05em 1.7em;
    min-width: 170px;
    border: 1px solid #6a696b;
    border-radius: 1.8rem;
    background: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.06rem;
    line-height: 1;
    color: #2b2a2c;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.btn + .btn {
    margin-left: 1rem;
  }

.works {
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
}
.works__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.works__nav-link {
    margin-right: 1.2rem;
    margin-top: 1.2rem;
    font-size: 0.8rem;
    color: rgba(43, 42, 44, 0.7);
    text-decoration: none;
}
.work {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.work_image {
    display: block;
    max-width: 100%;
    height: auto;
}
.work__content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.work__cat {
    font-size: 0.8rem;
    color: #2b2a2c;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.work__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.06rem;
    color: #2b2a2c;
    text-transform: uppercase;
    font-weight: 700;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.8rem;
    margin-top: 0rem;
    margin-left: -1rem;
    margin-right: -1rem;
}
.portfolio_col {
    flex-basis: 33.3%;
    padding: 1rem;
}
.work {
    transition: box-shadow 0.2s linear;
}
.works_nav-link:hover {
    text-decoration: underline;
}
.work:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.about {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
}
.about_inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1090px;
}
.about_photo {
    width: 50%;
    position: relative;
}
.about_content {
    width: 50%;
    padding-left: 3.2rem;
    margin-top: 2rem;
}
.about_photo img {
    position: absolute;
    z-index: 2;
    bottom: 0;
}
.about_title {
    font-size: 3rem;
    color: #2b2a2c;
    text-transform: uppercase;
    font-weight: 700;
}
.about_bigtitle {
    margin-bottom: 1.4rem;
    position: relative;
    font-size: 6.1rem;
    line-height: 1.1;
    color: rgba(43, 42, 44, 0.15);
    font-weight: 700;
    text-transform: uppercase;
    left: -10px;
}
.about_text {
    margin-bottom: 2.8rem;
    font-size: 1rem;
    color: #6a696b;
    line-height: 1.8;
    font-weight: 300;
}
.reviews {
    background-size: cover;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
    background: #332F30 url('../img/reviews-bg.png') no-repeat center;
}
.reviews__text {
    font-size: 0.94rem;
    color: white;
    line-height: 2.2;
    text-align: center;
}
.reviews__item {
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
}
.reviews__author {
    width: 100%;
    margin-top: -51px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    text-align: center;
}
.reviews__photo {
    display: block;
    margin: 0 auto 0.6rem;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    border: 4px solid #EFEFEF;
}
.reviews__name {
    margin-bottom: 0.3rem;
    font-size: 1.06rem;
    color: #2b2a2c;
    font-weight: 700;
}
.reviews__company {
    margin-bottom: 0.4rem;
    font-size: 0.94rem;
    color: #6a696b;
    font-weight: 300;
    font-style: italic;
}
.reviews__star {
    width: 13px;
    height: 13px;
}
.reviews__star--unactive {
    opacity: 0.3;
}
.about__photo:before {
    content: "";
    width: 413px;
    height: 413px;
    background-color: #EFEFEF;
    border-radius: 30px;
    position: absolute;
    left: 1rem;
    bottom: 0;
    z-index: 1;
}
.body.no-scroll {
    overflow: hidden;
}
.body.no-scroll {
    overflow: hidden;
}
.modal {
    width: 100%;
    height: 100%;
    display: none;
    overflow: scroll;
    z-index: 1000;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(43, 42, 44, 0.8);
    padding: 1rem;
}
.body.body.no-scroll {
    overflow: hidden;
}
.modal {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(43, 42, 44, 0.8);
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    overflow: scroll;
}
.modal.show {
    display: flex;
}
.modal__dialog {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    background-color: white;
    transform: rotateY(90deg);
    transition: transform 0.2s linear;
}
.modal__dialog--sm {
    max-width: 900px;
}
.modal__close {
    width: 34px;
    height: 34px;
    padding: 0;
    background: none;
    border: 0;
    position: absolute;
    top: 0.9rem;
    right: 0.9rem;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.2s linear;
}
.modal__close:hover {
    transform: rotate(90deg);
}
.contact {
    display: flex;
}
.contact__left {
    width: 47%;
    padding: 2rem;
}
.contact__right {
    width: 53%;
    background: #2b2a2c url('../img/jack-hire-me.jpeg') center no-repeat;
}
.modal__title {
    font-size: 3rem;
    text-transform: uppercase;
    color: #2b2a2c;
    font-weight: 700;
    margin-bottom: 3.6rem;
}
.mb-0 {
    margin-bottom: 0;
}
.modal__subtitle {
    text-transform: uppercase;
    font-size: 1.06rem;
    color: #2b2a2c;
}
.contact__info {
    margin: 2rem 0 3rem;
    padding: 0;
    list-style: none;
    font-size: 0.94rem;
    color: #2b2a2c;
    font-weight: 300;
}
.contact__info-item {
    display: flex;
    margin-bottom: 0.75rem;
    align-items: center;
}
.contact__info-item:last-child {
    margin-bottom: 0;
}
.contact__info-icon {
    margin-right: 0.7rem;
}
.form__group {
    margin-bottom: 1.8rem;
}
.form__label {
    display: inline-block;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    color: #2b2a2c;
    font-weight: 700;
}
.form__input {
    display: block;
    width: 100%;
    padding: 1.3rem 1.8rem;
    border: 1px solid rgba(112, 112, 112, 0.3);
    border-radius: 1.8rem;
    font-family: inherit;
    font-size: 0.8rem;
    line-height: 1.2;
    color: #2b2a2c;
    font-weight: 300;
    transition: border-color 0.2s linear;
}
.form__textarea {
    display: block;
    width: 100%;
    padding: 1.3rem 1.8rem;
    border: 1px solid rgba(112, 112, 112, 0.3);
    border-radius: 1.8rem;
    font-family: inherit;
    font-size: 0.8rem;
    line-height: 1.2;
    color: #2b2a2c;
    font-weight: 300;
    transition: border-color 0.2s linear;
}
.form__input:focus {
    outline: none;
    border-color: #36abc7;
}
.form__textarea:focus {
    outline: none;
    border-color: #36abc7;
}


.form__input::placeholder,
.form__textarea::placeholder {
    color: #2b2a2c;
}
.form__textarea {
    height: 200px;
    resize: none;
}
.modal__content {
    padding: 5rem 1rem;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.btn--thin {
    max-width: 145px;
    font-size: 0.8rem;
}
.timeline {
    display: flex;
    width: 100%;
    max-width: 768px;
    position: relative;
    margin: 4.2rem auto;
}
.timeline:before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #2b2a2c;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
}
.timeline__col {
    width: 50%;
}
.timeline__col--left {
    text-align: right;
    padding-right: 3.2rem;
}
.timeline__col--right {
    padding-left: 3.2rem;
}
.timeline__title {
    margin-bottom: 2.6rem;
    font-size: 1.2rem;
    color: #2b2a2c;
    font-weight: 700;
    text-transform: capitalize;
}
.timeline__item {
    margin-bottom: 2.6rem;
}
.timeline__item:last-child {
    margin-bottom: 0;
}
.timeline__date {
    display: block;
    margin-bottom: 0.8rem;
    text-decoration: underline;
    font-size: 0.94rem;
    color: #2b2a2c;
}
.timeline__subtitle {
    margin-bottom: 0.2rem;
    font-size: 1.06rem;
    color: #2b2a2c;
    font-weight: 700;
}
.timeline__position {
    font-size: 0.94rem;
    color: #2b2a2c;
    font-style: italic;
}
.timeline__text {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    color: #6a696b;
    font-weight: 300;
    line-height: 1.5;
}
.progress-bar {
    margin-bottom: 2.6rem;
}
.progress-bar__item {
    text-align: center;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: space-between;
}
.progress-bar__title {
    font-size: 0.94rem;
    font-weight: 300;
}
.progress-bar__right {
    padding-left: 1.2rem;
}
.progress-bar__bar {
    width: 130px;
    height: 6px;
    background-color: #EFEFEF;
}
.progress-bar__progress {
    height: 100%;
    background-color: #6a696b;
}
.modal-work {
    display: flex;
}
.modal-work__previews{
    width: 65%;
    position: relative;
    overflow: hidden;
}
.modal-work__content {
    width: 35%;
    position: relative;
    padding: 2.4rem 6.6rem 1rem 1.73rem;
}
.modal-work__photo{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%,-50%,0);
}
.modal-work__header{
    margin-bottom: 2.2rem;
}
.modal-work__title{
    margin-bottom: 0.2rem;
    font-size: 2.12rem;
    color: #2b2a2c;
    font-weight: 700;
    text-transform: uppercase;
}
.modal-work__info{
    font-size: 1.2rem;
    color: #6a696b;
    text-transform: uppercase;
}
.modal-work__divider{
    margin: 0.1rem;
}
.modal-work__about{
    margin-bottom: 2.2rem;
}
.modal-work__about-title{
    margin-bottom: 0.2rem;
    font-size: 1.06rem;
    color: #2b2a2c;
    font-weight: 700;
}
.modal-work__about-movie{
    font-size: 0.94rem;
    font-style: italic;
    color:#6a696b;
}
.modal-work__text{
    margin-bottom: 8.6rem;
    font-size: 0.96rem;
    color: #6a696b;
    line-height: 1.5;
    font-weight: 300;
}
.modal-work__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 1.8rem 1rem;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.modal-work__btn{
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.94rem;
    color: #2b2a2c;
    text-transform: uppercase;
}
.modal-work__btn:focus{
    outline: none;
    border: 0;
}
.nav__link:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #2b2a2c;
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 1;
    transition: width 0.2s linear;
}

.nav__link:hover:not(.nav__link--btn):after {
    width: 100%;
} 

.nav__link--btn {
    transition: background-color 0.2s linear, color 0.2s linear;
}

.nav__link--btn:hover {
    background-color: #2b2a2c;
    color: #ffffff;
}

.social__link {
    transition: transform 0.2s linear;
}

.social__link:hover {
    transform: translateY(-5px);
} 

.btn {
    transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, border-color 0.2s linear;
}

.btn:hover {
    background-color: #2b2a2c;
    color: #ffffff;
    border-color: #2b2a2c;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}
/* Slider */

.slick-slider {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 1.4rem;
    left: 0;
    z-index: 2;
}

.slick-dots li {
    margin: 0 0.5rem;
}

.slick-dots li.slick-active button {
    background-color: #fff;
}

.slick-dots button {
    width: 11px;
    height: 11px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50%;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}

.slick-dots button:focus {
    outline: 0;
}

.burger {
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    background: none;
    display: none;
}

.icon img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 4rem;
}

.hide {
    display: none;
}

.burger__icon {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .burger {
        display: block;
    }

    .header {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

    .nav {
        width: 100%;
        height: auto;
        padding: 1rem;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        display: none;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        width: 100%;
        text-align: center;
        margin-left: 0;
        padding: 1rem 0.5rem;
    }

    .intro {
        margin-top: 80px;
    }

    .intro__inner {
        padding-bottom: 4rem;
        background-size: 330px auto;
    }

    .intro__content {
        width: 60%;
    }

    .intro__photo {
        width: auto;
        right: 20px;
    }

    .work {
        max-width: 370px;
    }

    .portfolio__col {
        flex-basis: 50%;
    }

    .about_title {
        font-size: 2rem;
    }

    .about_bigtitle {
        font-size: 4rem;
    }
    .about__photo {
        text-align: center;
    }

    .nav__link--btn {
        flex-basis: 100%;
        text-align: center;
    }
}

@media (max-width: 565px) {
    .intro__inner {
        background: url(../img/symbols.png) center bottom no-repeat;
        background-size: 100% auto;
    }
    .intro__content {
        flex-basis: 100%;
    }

    .intro__photo {
        display: none;
    }

    .btn {
        display: block;
        width: 100%;
    }

    .btn + .btn {
        margin-left: 0;
        margin-top: 1rem;
    }

    .work {
        margin: 0 auto;
    }

    .portfolio__col {
        flex-basis: 100%;
    }
}

@media (max-width: 991px) {
    .intro__inner {
        padding-bottom: 3rem;
        background-size: 400px auto;
    }

    .intro__subtitle {
        font-size: 1.5rem;
    }

    .intro__title {
        font-size: 2.5rem;
    }

    .intro__text {
        font-size: 1.2rem;
    }

    .intro__photo {
        width: 18rem;
        right: 60px;
    }

    .btn {
        font-size: 1rem;
        padding: 1em 1.5em;
        min-width: 150px;
    }

    .about {
        margin: 3rem 0;
    }

    .about_photo, .about_content {
        width: 100%;
    }

    .about_photo {
        order: 2;
        text-align: center;
    }

    .about__photo:before {
        width: 100%;
        height: 300px;
        left: 0;
    }

    .about_photo img {
        position: relative;
        margin: 0 auto;
    }

    .about_content {
        order: 1;
        margin-bottom: 2rem;
        padding-left: 0;
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .about_bigtitle {
        position: static;
    }

    .about_title {
        font-size: 2rem;
    }
}

@media (max-width: 1199px) {
    .about_title {
        font-size: 2.5rem;
    }
    .about_bigtitle {
        font-size: 4rem;
    }
}


